

<div > <%= render :partial => "instructions" %> </div>
<div class ="button" > <%= link_to "play", :controller => "game", :action => "wait", :method => :get, :id => @game.id %> </div>


<!--
/instructions in this partial, it can be an static page, image, etc
.button= render :partial => "instructions"

.button= link_to "Play", :controller => "games", :action => "wait", :method => :get  
-->

