
<%=kreilo_data "data" %>
<%=kreilo_data_updater "pass", "data" %>
<%=kreilo_data_updater "pos", "data" %>
<%=kreilo_data_updater "neg", "data" %>

<%=kreilo_timer @game.timeout, "finish/"+ @game.id.to_s %>

