/*general for all the pages better to change for classes*/
body, td, a, p, .h {
font-family:arial,sans-serif;
}

body {
background:#B22222 repeat-x scroll 0 -95px;
color:#B22222;
margin:3px 8px 2em;
}
body {
background-color:#5F5F5F;
border:1px solid black;
color:white;
line-height:130%;
margin:10px auto;
width:90%;
}

img, table {
border:0 none;
}
/*End of general*/

/*Start of style of the main layout*/
#header {
background-color:#004CA3;
border-bottom:1px solid gray;
margin:0;
padding:0.5em;
}
#header h1 {
font-size:45px;
}
#header h2 {
font-size:20px;
padding:0;
text-align:right;
}
#title {
font-size:20px;
padding:0.5em;
}
#login {
float:right;
text-align:right;
}
#tools {
float:right;
text-align:right;
}
#contents {
font-size:16px;
text-align:left;
}
/*End of style of main layout*/


/*What is all this gsomething stuff??*/
#sf {
width:100%;
}
#frame {
margin:auto 12px;
width:800px;
}
#gbar {
height:22px;
padding-left:0;
}
.gbh, .gbd {
border-top:1px solid #C9D7F1;
font-size:1px;
}
.gbh {
height:0;
position:absolute;
top:24px;
width:100%;
}
#gbi, #gbs {
background:#FFFFFF none repeat scroll 0 0;
left:0;
position:absolute;
top:24px;
visibility:hidden;
z-index:1000;
}
#gbi {
border-color:#C9D7F1 #3366CC #3366CC #A2BAE7;
border-style:solid;
border-width:1px;
z-index:1001;
}
#guser {
padding-bottom:7px !important;
text-align:right;
}
#gbar, #guser {
font-size:13px;
padding-top:1px !important;
}
.gb1, .gb3 {
height:22px;
margin-right:0.5em;
vertical-align:top;
}
#gbar {
float:left;
}
.gb2 {
display:block;
padding:0.2em 0.5em;
}
a.gb1, a.gb2, a.gb3 {
color:#0000CC !important;
}
.gb2, .gb3 {
text-decoration:none;
}
a.gb2:hover {
background:#3366CC none repeat scroll 0 0;
color:#FFFFFF !important;
}
/*End of gsomething stuff*/

/*Some generic elements*/
.button {
 background:transparent url(/images/white-1.png) no-repeat scroll left top;
 border:medium none;
 padding:4px 26px;
}
.button:active {
 background:transparent url(/images/white-2.png) no-repeat scroll left top;
 border:medium none;
 padding:4px 26px;
}

