

<div > <%= render :partial => "instructions" %> </div>
<%= kreilo_play_link (@game, "play") %>




<!--
/instructions in this partial, it can be an static page, image, etc
.button= render :partial => "instructions"

.button= link_to "Play", :controller => "games", :action => "wait", :method => :get  
-->

